body {
  background-color: #111b2c;
}
.weatherCard {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}
#weatherResult {
  border-radius: 100px;
  background-color: #1e2a44;
  padding: 20px;
  margin-bottom: 30px;
  width: 300px;
  height: auto;
  text-align: center;
}
#weatherResult h2,
#weatherResult h3,
#weatherResult p {
  color: #ffffff;
}
